<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Prueba menu</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <script>
        let ammount = 0
        function input() {
            for (let i = 1; i <= ammount; i++) {

                console.log("hola");
                let options = document.getElementById(`options${i}`).value;
                console.log(options)
                let imagen = document.getElementById(`imagen${i}`);
                let descripcion = document.getElementById(`descripcion${i}`);
                let video = document.getElementById(`video${i}`);
                let color = document.getElementById(`color${i}`);

                imagen.style.display = "none";
                color.style.display = "none";
                video.style.display = "none";
                descripcion.style.display = "none";
                if (options == `color`) {
                    color.style.display = "block";
                }
                if (options == `imagen`) {
                    imagen.style.display = "block";
                }
                if (options == `video`) {
                    video.style.display = "block";
                }
                if (options == `descripcion`) {
                    descripcion.style.display = "block";
                }
            }
        }

    </script>
    <script>
        let counter = 0;
        function clone() {
            counter += 1
            let html = '<div id="input' + counter + '" class="inputs">\
                <select onchange = "input()" id="options' + counter + '">\
                    <option value="option">selecione una categoria</option>\
                    <option value="color">color</option>\
                    <option value="video">video</option>\
                    <option value="imagen">imagen</option>\
                    <option value="descripcion">descripcion</option>\
                </select >\
                <div id="color' + counter + '" style="display:none;" >\
                    <input type="radio" id="azul" name="fav_language" value="azul">\
                    <label for="azul">azul</label><br>\
                    <input type="radio" id="rojo" name="fav_language" value="rojo">\
                    <label for="rojo">rojo</label><br>\
                    <input type="radio" id="verde" name="fav_language" value="verde">\
                    <label for="verde">verde</label>\
                </div>\
                <div id="video' + counter + '" style="display:none;">\
                    <input type="text">\
                </div>\
                <div id="imagen' + counter + '" style="display:none;">\
                    <input type="file">\
                </div>\
                <div id="descripcion' + counter + '" style="display:none;">\
                    <input type="text">\
                </div>\
                </section>'
            ammount += 1
            let form = document.getElementById("form");
            form.innerHTML += html
            console.log(ammount);
        }
    </script>
</head>

<body>
    <form action="" id="form">
        <label>Informacion a agregar</label>
    </form>
    <button onclick="clone()">agregar</button>
</body>

</html>