<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sanitarios Nicuesa</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/productFinder.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>

    </header>
    <!-- break  -->
    <main>
        <div class="buscador">
            <section class="grupo"> 
                <h2>Categorias</h2>
                <ul>
                    <li class="categoria"> Baño
                        <ul>
                            <li class="producto">Bidet</li>
                            <li class="producto">Inodoro</li>
                            <li class="producto">Griferia</li>
                            <li class="producto">Piletas</li>
                            <li class="producto">Ducha</li>
                        </ul>
                    </li>
                    <li class="categoria">Cocina</li>
                    <li class="categoria">Tanques</li>
                    <li class="categoria">Calefaccion</li>
                    <li class="categoria">Instaladores</li>
                </ul>
            </section>
            <div id="break"></div>
            <section class="grupo"> 
                <h2>Marcas</h2>
                <ul>
                    <li class="categoria">Roca</li>
                    <li class="categoria">FV</li>
                    <li class="categoria">Capea</li>
                    <li class="categoria">Rotoplast</li>
                </ul>
            </section>
        </div>
        <div class="articulos">

        </div>
    </main>
    <!-- break -->
    <footer>

    </footer>
</body>

</html>